{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block title %} Review {% endblock %}

{% block content %}
{% include 'home/navbar.template.html' %}

<div class="row justify-content-center pt-3" id='reviewpage'>
    <div class="col-3">
        <p><b>{{product.name}}</b></p>
        <div class="mb-3">
            <img class="img-fluid" src="{{ product.image.cdn_url }}-/quality/lightest/" alt="">
        </div>
    </div>
    <div class="col-6">
        <form class="w-60 ml-auto mr-auto border p-3" method="POST">
            {%csrf_token%}
            <u><b>Leave a Review</b></u>
            {{ review_form | crispy}}
            <button type="submit">Submit Review</button>
        </form>
    </div>
</div>
    



{% endblock %}