{% extends 'base.template.html' %}

{% block content %}
{% include 'home/navbar.template.html' %}
<b>Cart Details</b>
<b>Number of Items in Cart: {{cart|length}}</b>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-2">
            <b>Item</b>
        </div>
        <div class="col-2">
            <b>Size</b>
        </div>
        <div class="col-2">
            <b>Quantity</b>
        </div>
        <div class="col-2">
            <b>Unit Cost</b>
        </div>
        <div class="col-2">
            <b>Order Line ID</b>
        </div>
        <div class="col-2">
            <b>Actions</b>
        </div>
    </div>
    {% for key, item in cart.items %} 
    <div class="row">
        <div class="col-2">
            <p>{{item.name}}</p>
        </div>
        <div class="col-2">
            <p>{{item.size}}</p>
        </div>
        <div class="col-2">
            <p>{{item.quantity}}</p>
        </div>
        <div class="col-2">
            <p>{{item.cost}}</p>
        </div>
        <div class="col-2">
            <p>{{item.order_id}}</p>
        </div>
        <div class="col-2">
            <a href="{%url 'update_from_cart' product_id=item.id%}">Update</a>
            <a href="{%url 'delete_from_cart' product_id=item.id%}">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}