{% extends 'base.template.html' %}

{% block title %}My Cart{% endblock %}

{% block content %}
{% include 'home/navbar.template.html' %}
<div class="container-fluid p-5" id='cartpage'>
    <h3 class="border-btm-gold">Cart Details</h3>
    <div class="row">
        <div class="col-1">
            <b>No.</b>
        </div>
        <div class="col-3">
            <b>Item</b>
        </div>
        <div class="col-2">
            <b>Size</b>
        </div>
        <div class="col-2">
            <b>Quantity</b>
        </div>
        <div class="col-2">
            <b>Unit Cost</b>
        </div>
        <div class="col-2">
            <b>Actions</b>
        </div>
    </div>
    {% if cart|length == 0 %}
    <p class="mt-3">Your cart is empty.</p>
    {% else %}
    {% for key, item in cart.items %}
    <hr>
    <div class="row mt-3">
        <div class="col-1">
            <p>{{forloop.counter}}.</p>
        </div>
        <div class="col-3">
            <b>{{item.name}}</b>
        </div>
        <div class="col-2">
            <p>{{item.size}}</p>
        </div>
        <div class="col-2">
            <p>{{item.quantity}}</p>
        </div>
        <div class="col-2">
            <p>${{item.unit_cost}}</p>
        </div>
        <div class="col-2">
            <a href="{%url 'update_from_cart' cart_item_id=item.cart_item_id%}"><i class="far fa-edit"></i></a>
            <a onclick="toggleDeleteCartItem('{{item.cart_item_id}}')"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <hr class="border-btm-wine">
    <div class="row mt-3 pt-3" id='summary'>
        <div class="col-7">
            <b>Number of Items in Cart: {{cart|length}}</b>
        </div>
        <div class="col-5">
            <p><b>Subtotal: ${{subtotal}}</b></p>
            <p><b>Delivery Cost: ${{delivery_fee}}</b></p>
            <p><b>Total: ${{total}}</b></p>
            <a href="#">CHECKOUT</a>
        </div>
    </div>

</div>

<div class='bg-dark' id='deletecartpanel'>
    <div class="bg-light mt-5 ml-auto mr-auto p-5 w-50">
        <b>Are you sure you want to remove this item from the cart?</b>
        <p class="mt-5">
            <a class="mr-5" href="">
                <b>Yes</b>
            </a>
            <a onclick="toggleDeleteCartItem()">
                <b>No</b>
            </a>
        </p>
    </div>
</div>


{% endblock %}

{% block myscript %}
<script>
    $('#deletecartpanel').hide()

    function toggleDeleteCartItem(item) {
        let deleteRoute = 'delete/' + item.toString()
        $('#deletecartpanel').fadeToggle()
        $('#deletecartpanel').find('a').eq(0).attr('href', deleteRoute)
    }

</script>
{% endblock %}