{% extends 'base.template.html' %}

{% block title %}Update Cart{% endblock %}

{% block content %}
{% include 'home/navbar.template.html' %}
<div class="container-fluid p-md-5 p-3" id="updatepage">
    <a href="{%url 'view_cart'%}"><i class="fas fa-chevron-circle-left"></i> Back to Cart</a>
    <div class="row mt-2 justify-content-center d-none d-md-flex">
        <div class="col-3 border-btm-wine">
            <b>Item</b>
        </div>
        <div class="col-2 border-btm-wine">
            <b>Unit Cost</b>
        </div>
        <div class="col-3 border-btm-wine">
            <b>Actions</b>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-3 col-12">
            <p><b>{{product_name}}</b></p>
            <div class="mb-3">
                <img class="img-fluid" src="{{ product.image.cdn_url }}-/quality/lightest/" alt="">
            </div>
        </div>
        <div class="col-md-2 col-12 text-center">
            <p>${{product_cost}}</p>
        </div>
        <div class="col-md-3 col-12">
            <form method="POST" action="{% url 'update_from_cart' cart_item_id=cart_item_id %}">
                {%csrf_token%}
                {% if product.category.name != 'Accessory' %}
                <div class='mt-2 mb-2'>
                    <label class="mr-sm-2" for="select-size">Select Size:</label>
                    <select id="select-size" name="size">
                        <option value="small" {%if update_size == 'small' %} selected {%endif%}>Small</option>
                        <option value="medium" {%if update_size == 'medium' %} selected {%endif%}>Medium</option>
                        <option value="large" {%if update_size == 'large' %} selected {%endif%}>Large</option>
                    </select>
                </div>
                {% endif %}
                <div class='mt-2 mb-2'>
                    <label for="select-qty">Select Quantity: </label>
                    <input type="number" value='{{update_quantity}}' id="select-qty" name='quantity'>
                </div>
                <button type="submit">Update Item</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}