{% extends 'base.template.html' %}

{% block title %}Cleveland Cavaliers Team Shop{% endblock %}

{% block content %}

{% include 'home/navbar.template.html' %}
<div class="row justify-content-center pl-5" name='top'>
    <div class="col-3 m-3 detailscard">
        <div class="mb-3">
            <img class="img-fluid" src="{{ product.image.cdn_url }}-/quality/lightest/" alt="">
        </div>
        <p><b>{{product.name}}</b></p>
        <p class="text-center">${{product.price}}</p>
        {% for j in product.tags.all %}
        <p class="text-danger">{{j.name}}</p>
        {% endfor %}
    </div>
    <div class="col-5 mt-3 ordercard">
        <div>
            <p class="font-weight-bold">PRODUCT DESCRIPTION</p>
            <p>{{product.description}}</p>
        </div>
        <form method="POST" action="{%url 'add_to_cart' product_id=product.id%}">
            {%csrf_token%}
            <div>
                <label class="mr-sm-2" for="select-size">Select Size:</label>
                <select id="select-size" name="size">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
            <div class="mb-2">
                <label class="mr-sm-2" for="select-qty">Select Quantity:</label>
                <input type="number" value="1" id='select-qty' name="quantity">
            </div>
            <button type="submit">Add To Cart <i class="fas fa-shopping-cart"></i></button>
        </form>
        <br>
        {% if request.user.is_authenticated %}
        <a href="{%url 'review' product_id=product.id%}">Leave a Review <i class="fas fa-comments"></i></a>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <b class="border-btm-wine">PRODUCT REVIEWS</b>
    </div>
    {% if product_reviews %}
    {% for review in product_reviews %}
    <div class="col-8">
        <div class="row">
            <div class="col-8">
                <b>{{review.title}}</b>
            </div>
            <div class="col-3">
                {% if review.owner == request.user %}
                <a href="{% url 'edit_review' review_id=review.id %}"><i class="far fa-edit"></i></a>
                <a class='ml-3' onclick="toggleDeleteReview('{{review.id}}')"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
        </div>
        <p>
            {{review.content}}
        </p>
        <div class="row">
            <div class="col-6">
                <p><b><i class="fas fa-comments"></i> </b>{{review.owner}}</p>
            </div>
            <div class="col-6">
                <p><b><i class="far fa-calendar-alt"></i> </b>{{review.date_posted}}</p>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no reviews for this product yet.</p>
    {% endif %}
</div>

<a href="#top" id='backtotopreview'>
    <i class="fas fa-caret-square-up"></i>
</a>

<div class='bg-dark' id='deletereviewpanel'>
    <div class="bg-light mt-5 ml-auto mr-auto p-5 w-50">
        <b>Are you sure you want to remove this review?</b>
        <p class="mt-5">
            <a class="mr-5">
                <b>Yes</b>
            </a>
            <a onclick="toggleDeleteReview()">
                <b>No</b>
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block myscript %}
<script>
    $('#deletereviewpanel').hide()

    function toggleDeleteReview(item) {
        let current_page = new URL(window.location);
        current_page['pathname'] = '/review/delete/'+item
        console.log(current_page)
        $('#deletereviewpanel').fadeToggle()
        $('#deletereviewpanel').find('a').eq(0).click(function(){
            window.location.replace(current_page)
        })
    }

</script>
{% endblock %}