{% extends 'base.template.html' %}

{% block content %}

{% include 'home/navbar.template.html' %}

<div class="row p-5">
    <b>Product Details</b>

    <div class="card p-3 m-3 w-40">
        <div class="w-50">
            <img class="img-fluid" src="{{ product.image.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
        </div>
        <p>{{product.name}} ${{product.price}}</p>
        <p>{{product.description}}</p>
        <p>{{product.category}}</p>
        <p>Tags:
            {% for j in product.tags.all %}<p>{{j.tagname}}</p>{% endfor %}
        </p>

        <form method="POST" action="{%url 'add_to_cart' product_id=product.id%}">
            {%csrf_token%}
            <label class="mr-sm-2" for="select-size">Select Size:</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select-size" name="size">
                <option selected>Choose...</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
            <div class="form-group row">
                <label for="select-qty" class="col-2 col-form-label">Select Quantity</label>
                <div class="col-10">
                    <input class="form-control" type="number" value="1" id="select-qty" name='quantity'>
                </div>
            </div>
            <button type="submit">Add To Cart</button>
        </form>

        <a href="{%url 'review' product_id=product.id%}">Leave a Review</a>
        <hr>
    </div>
</div>



{% endblock %}