{% extends 'base.template.html' %}

{% block content %}

{% include 'home/navbar.template.html' %}

<h3>{{current_category}}</h3>
<div class="row p-2 justify-content-around">
    {% if products_count %}
    <p class="col-12">There are {{products_count}} results.</p>
    {% endif %}
    
    {% for i in products %}
    <div class="col-3 border p-3">
        <p>{{i.name}} ${{i.price}}</p>
        <p>{{i.category.name}}</p>
        <p>Tags:
            {% for j in i.tags.all %}<p>{{j.name}}</p>{% endfor %}
        </p>
        <div class="w-50">
            <img class="img-fluid" src="{{ i.image.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
        </div>
        <hr>
        <a href="{% url 'product_details' product_id=i.id %}">view details</a>
    </div>
    {% endfor %}
</div>



{% endblock %}