{% extends 'base.template.html' %}

{% block title %}Cleveland Cavaliers Team Shop{% endblock %}

{% block content %}

{% include 'home/navbar.template.html' %}
<div class="container-fluid" id='viewpage' name='#top'>
    <div class="row justify-content-start p-md-5 p-3">
        <div class="col-12 pl-3 pt-3">
            <label><b>Sort By: </b></label>
            <select class='ml-2' id='sort_products'>
                <option value='alpha_asc' {% if current_sort == 'name'%} selected {% endif %}>Alphabetical(A-Z)</option>
                <option value='alpha_desc' {% if current_sort == '-name'%} selected {% endif %}>Alphabetical(Z-A)
                </option>
                <option value='price_asc' {% if current_sort == 'price'%} selected {% endif %}>Price(Lowest to Highest)
                </option>
                <option value='price_desc' {% if current_sort == '-price'%} selected {% endif %}>Price(Highest to
                    Lowest)
                </option>
            </select>
            <p>There are {{products | length}} results.</p>
        </div>
        {% for i in products %}
        <div class="col-md-3 col-12 m-md-5 mb-2 resultcard">
            <a href="{% url 'product_details' product_id=i.id %}">
                <div class="mb-3">
                    <img class="img-fluid" src="{{ i.image.cdn_url }}-/quality/lightest/" alt="">
                </div>
                <p><b>{{i.name}}</b></p>
                <p class="text-center">${{i.price}}</p>
                {% for j in i.tags.all %}
                <p class='text-danger'>{{j.name}}</p>
                {% endfor %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<a href="#top" id='backtotop'>
    <i class="fas fa-caret-square-up"></i>
</a>





{% endblock %}

{% block myscript %}
<script>
    //sort using parameters in url
    $('#sort_products').change(function () {
        let current_page = new URL(window.location);

        let selectedVal = $(this).val();

        if (selectedVal != 'default') {
            selectedVal = selectedVal.split('_');
            let sort = selectedVal[0];
            let direction = selectedVal[1];

            current_page.searchParams.set('category', `{{current_category}}`)
            current_page.searchParams.set('sort', sort);
            current_page.searchParams.set('direction', direction);
            window.location.replace(current_page)
        }

    })

    $(function () {
        //page indicator
        let current_category = '{{current_category}}'
        let current_tag = '{{current_tag}}'

        if (current_category == 'all') {
            $('nav a').eq(0).css('background-color', '#ffb81c')
        }

        if (current_category == 'Top') {
            $('nav a').eq(1).css('background-color', '#ffb81c')
        }

        if (current_category == 'Outerwear') {
            $('nav a').eq(2).css('background-color', '#ffb81c')
        }

        if (current_category == 'Bottom') {
            $('nav a').eq(3).css('background-color', '#ffb81c')
        }

        if (current_category == 'Accessory') {
            $('nav a').eq(4).css('background-color', '#ffb81c')
        }

        if (current_tag == 'Sale') {
            $('nav a').eq(5).css('background-color', '#ffb81c')
            $('nav a').eq(0).css('background-color', '#ffffff')
        }


    })
</script>
{% endblock %}