{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block title %}My Profile{% endblock %}

{% block content %}

{% include 'home/navbar.template.html' %}
<div class="row pl-5  pt-3 justify-content-start">
    <h3 class="col-3 border-btm-gold"><i class="fas fa-user-circle"></i> Personal Details</h3>
    <a onclick="toggleEditProfile()">
        <i class="far fa-edit"></i>
    </a>
</div>
<div class="row m-0 pl-5 justify-content-between">
    <div class="col-3">
        <p><b>Username: </b>{{request.user.username}}</p>
        <p><b>Email: </b>{{request.user.email}}</p>
        <p><b>Contact No. : </b>{{profile.contact}}</p>
        <p><b>Country: </b>{{profile.country}}</p>
        <p><b>City: </b>{{profile.city}}</p>
        <p><b>Postal Code: </b>{{profile.postal_code}}</p>
        <p><b>Street Address 1: </b>{{profile.street_address_1}}</p>
        <p><b>Street Address 2: </b>{{profile.street_address_2}}</p>
    </div>
    <div class="col-8">
        <h3>Transaction History</h3>
        <div class="row">
            <div class="col-2"><b>Order ID.</b></div>
            <div class="col-3"><b>Date</b></div>
            <div class="col-2"><b>Total</b></div>
            <div class="col-5"><b>Summary</b></div>
        </div>
        {% for order in order_history %}
        <hr>
        <div class="row">
            <div class="col-2">{{order.id}}</div>
            <div class="col-3">{{order.date}}</div>
            <div class="col-2">{{order.total}}</div>
            <div class="col-5">{{order.summary}}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class='bg-dark' id='updateprofileform'>
    <form class="border p-3" method="POST">
        <div class="row justify-content-end pr-3">
            <a onclick="toggleEditProfile()">
                <i class="fas fa-times"></i>
            </a>
        </div>
        {%csrf_token%}
        <u><b>Edit Profile</b></u>
        {{ profile_form | crispy}}
        <button type="submit">Update</button>
    </form>
</div>



{% endblock %}

{% block myscript %}
<script>
    $('#updateprofileform').hide()
    function toggleEditProfile() {
        $('#updateprofileform').fadeToggle()
    }

</script>

{% endblock %}