{% extends "base.template.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% include 'home/navbar.template.html' %}
<div class="row p-5" id="loginpage">
  <div class="col-12">
    <h1>{% trans "Log In" %}</h1>
  </div>
  <div class="col-4">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form | crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
      <a class="button secondaryAction d-block mt-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
  <div class="col-12">
    <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}"><b><u>sign up</u></b></a> first.{% endblocktrans %}</p>
  </div>
</div>


{% endblock %}