{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<p class='mt-5'>Welcome {{request.user}}</p>
{% endif %}


<div class="row justify-content-between">
    <div class="w-40 m-3">
        <div class="card p-3 m-3">
            <b>Categories Created</b>
            {% for i in categories %}
            <p>{{i}}
                <a class="btn-warning btn" href="{% url 'delete' item_type='category' item_id=i.id %}">Delete</a>
                <a class="btn-warning btn" href="{% url 'edit' item_type='category' item_id=i.id %}">Edit</a>
            </p>
            {% endfor %}
        </div>
        <div class="card p-3 m-3">
            <b>Tags Created</b>
            {% for i in tags %}
            <p>{{i}}
                <a class="btn-warning btn" href="{% url 'delete' item_type='tag' item_id=i.id %}">Delete</a>
                <a class="btn-warning btn" href="{% url 'edit' item_type='tag' item_id=i.id %}">Edit</a>
            </p>
            {% endfor %}
        </div>
        <div class="card p-3 m-3">
            <b>Products Created</b>
            {% for i in products %}
            <p>{{i.name}} ${{i.price}}</p>
            <p>Tags:
                {% for j in i.tags.all %}<p>{{j.tagname}}</p>{% endfor %}
            </p>
            <div class="w-50">
                <img class="img-fluid" src="{{ i.image.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
            </div>

            <p>Category: {{i.category}}</p>
            <a class="btn-warning btn" href="{% url 'delete' item_type='product' item_id=i.id %}">Delete</a>
            <a class="btn-warning btn mt-3" href="{% url 'edit' item_type='product' item_id=i.id %}">Edit</a>
            <hr>
            {% endfor %}
        </div>
    </div>
    <div class="w-50">
        <div class="border border-dark shadow-sm p-3 m-5">
            <form method="POST" id='cform'>
                {% csrf_token %}
                <u>Create A Category</u>
                {{cform|crispy}}
                <input type="submit" value="create" form="cform" name='csubmit'>
            </form>
        </div>
        <div class="border border-dark shadow-sm p-3 m-5">
            <form method="POST" id='tform'>
                {% csrf_token %}
                <u>Create A Tag</u>
                {{tform|crispy}}
                <input type="submit" value="create" form="tform" name='tsubmit'>
            </form>
        </div>
        {%block head %}
        {{ form.media }}
        {%endblock%}
        <div class="border border-dark shadow-sm p-3 m-5">
            <form method="POST" id='pform'>
                {% csrf_token %}
                <u>Create A Product</u>
                {{pform|crispy}}
                <input type="submit" value="create" form="pform" name='psubmit'>
            </form>
        </div>
    </div>
</div>



{% endblock %}