{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<p class='mt-5'>Welcome {{request.user}}</p>
{% endif %}

{% csrf_token %}
<div class="w-50">
    <div class="border border-dark shadow-sm p-3 m-5">
        <form method="POST">
            <u>Create A Category</u>
            {{cform|crispy}}
            <input type="submit" value="create">
        </form>
    </div>
    <div class="border border-dark shadow-sm p-3 m-5">
        <form method="POST">
            <u>Create A Tag</u>
            {{tform|crispy}}
            <input type="submit" value="create">
        </form>
    </div>
    <div class="border border-dark shadow-sm p-3 m-5">
        <form method="POST">
            <u>Create A Product</u>
            {{pform|crispy}}
            <input type="submit" value="create">
        </form>
    </div>
</div>



{% endblock %}