/* 
font-family: 'Roboto', sans-serif;
font-family: 'Squada One', cursive;
 */
/* 
color schemes
wine: #6f263d
gold: #ffb81c
navy: #041e42
black: #000000
white: #ffffff
*/

.gbor {
    border: 3px solid gold;
}

.border-btm-wine {
    border-bottom: 3px solid #6f263d;
}

.border-btm-gold {
    border-bottom: 3px solid #ffb81c;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: #000000;
}

a:hover {
    color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html,
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/* home page */
header {
    background-color: #000000;
    color: #ffffff;
}

header a {
    color: #ffffff;
    transition: ease-in-out 0.4s;
}

header a:hover {
    color: #ffb81c
}

#cavslogo {
    height: 50px;
}

#brandtext {
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: #ffb81c;
}

nav {
    background-color: #ffffff;
    font-weight: 400;
}

#querybtn {
    padding: 5px 10px;
    border: none;
    box-shadow: none;
    background-color: #ffb81c;
    transition: ease-in-out 0.4s;
}

#querybtn:hover {
    background-color: #6f263d;
    color: #ffffff;
}

nav .fa-shopping-cart {
    font-size: 22px;
    color: #000000;
    transition: ease-in-out 0.4s;
}

#navbarNavDropdown a {
    padding: 5px 10px;
    transition: ease-in-out 0.4s;
}

#navbarNavDropdown .mr-auto a:hover {
    color: #6f263d;
    background-color: #ffb81c;
}

nav,
header {
    z-index: 3;
    position: relative;
}

#heroimg {
    width: 100%;
    opacity: 1;
}

#homepage {
    color: #ffffff;
}

footer button {
    border: none;
    border-radius: 5px;
    background-color: #ffb81c;
    padding: 3px 8px;
}

footer .col-4 {
    border-top: 3px solid #ffb81c;
}

footer i {
    font-size: 30px;
}

footer p i {
    font-size: 20px;
    margin-right: 3px;
}

#herotext1 {
    position: absolute;
    top: 380px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    z-index: 6;
}

#herotext1 p{
    margin-top: -25px;
}

#herotext2 {
    position: absolute;
    top: 250px;
    left: 40px;
    font-size: 65px;
}


#herotext2 p {
    margin-top: -10px;
}


#herotext1 a {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 8px 15px;
    font-weight: 900;
    font-size: 22px;
    margin-top: 10px;
    color: #000000;
}

/* view products page */
#viewpage {
    background-color: #6f263d;
    color: #ffb81c;
    min-height: 600px;
}

#viewpage h3 {
    text-transform: capitalize;
}

.resultcard {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 10px;
    color: #000000;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border: 5px solid #ffb81c;
    transition: ease-in-out 0.4s;
}

.resultcard:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#backtotop {
    position: fixed;
    top: 90vh;
    right: 40px;
    font-size: 30px;
    color: #ffffff;
}

/* details page */
.detailscard {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 10px;
    color: #000000;
    border: 5px solid #ffb81c;
    transition: ease-in-out 0.4s;
}

.ordercard button,
.ordercard a {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
    color: #ffffff;
}

.ordercard button:hover,
.ordercard a:hover {
    background-color: #6f263d;
    color: #ffffff;
}

.ordercard button {
    display: block;
}

#select-qty {
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

/* cart page */
#cartpage i {
    font-size: 22px;
    margin-right: 10px;
}

#summary a {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
    color: #ffffff;
}

#deletecartpanel {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
    display: none;
}

#deletecartpanel a {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
}

/* update page */
#updatepage button {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
}

/* profile page */
#updateprofileform {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
}

#updateprofileform form {
    background-color: #ffffff;
    margin: 10px auto;
    width: 450px;
    z-index: 6;
    text-align: left;
}

#updateprofileform form button {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
    color: #ffffff;
}

/* login/register page */
#loginpage .login button,
#resetbtn,
#registerpage button,
#logoutpage form button {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
}

#loginpage .login .requiredField,
#resetpage .password_reset .requiredField,
#registerpage form label {
    font-weight: bold;
}

.textInput, input, textarea {
    font-weight: 300 !important;
}

/* review page */
#reviewpage form label {
    font-weight: bold;
}

#reviewpage button,
#deletereviewpanel a, 
#updatereviewform form button {
    background-color: #ffb81c;
    border-radius: 5px;
    border: solid #ffb81c 2px;
    padding: 5px 10px;
    font-weight: 900;
    transition: ease-in-out 0.4s;
}

#backtotopreview {
    position: fixed;
    top: 90vh;
    right: 40px;
    font-size: 30px;
    color: #000000;
}

#deletereviewpanel {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: 5;
    text-align: center;
}
